dfs-pipeline-state-machine-definition.yaml
DefinitionString:
  Fn::Sub: |
    {
      "StartAt": "Data Collection",
      "States": {
        "Data Collection": {
          "Type": "Parallel",
          "OutputPath": "$[0]",
          "Next": "Is NHL?",
          "Branches": [
            {
              "StartAt": "Fanduel Collector",
              "States": {
                "Fanduel Collector": {
                  "Type": "Task",
                  "ResultPath": "$.dataCollectionResult",
                  "Resource": "arn:aws:lambda:us-east-2:062130427086:function:dfs-optimizer-stack-GetFanduelDataFunction-77GMJJP3YXN8",
                  "End": true
                }
              }
            },
            {
              "StartAt": "Projections Collector",
              "States": {
                "Projections Collector": {
                  "Type": "Task",
                  "Resource": "arn:aws:lambda:us-east-2:062130427086:function:dfs-optimizer-stack-GetProjectionsDataFunction-QKLNCL4DUKM2",
                  "End": true
                }
              }
            }
          ]
        },
        "Is NHL?": {
          "Type": "Choice",
          "Choices": [
            {
              "Variable": "$.sport",
              "StringEquals": "nhl",
              "Next": "Goalie Scraper"
            },
            {
              "Not": {
                "Variable": "$.sport",
                "StringEquals": "nhl"
              },
              "Next": "Data Merger"
            }
          ]
        },
        "Goalie Scraper": {
          "Type": "Task",
          "Resource": "arn:aws:lambda:us-east-2:062130427086:function:dfs-pipeline-stack-GoalieScraperFunction-1I4UY17TQ060N",
          "ResultPath": "$.goalieData",
          "Next": "Data Merger"
        },
        "Data Merger": {
          "Type": "Task",
          "Resource": "arn:aws:lambda:us-east-2:062130427086:function:dfs-pipeline-stack-MergeDataFunction-1RE6852HB9LOB",
          "ResultPath": "$.optimizerInput",
          "Next": "Lineup Optimizer"
        },
        "Lineup Optimizer": {
          "Type": "Task",
          "Resource": "arn:aws:lambda:us-east-2:062130427086:function:dfs-optimizer-stack-GetOptimalLineupFunction-12U6F4GY6ANQ2",
          "InputPath": "$.optimizerInput",
          "ResultPath": "$.optimizerResult",
          "Next": "Send Texts"
        },
        "Send Texts": {
          "Type": "Task",
          "Resource": "arn:aws:lambda:us-east-2:062130427086:function:dfs-pipeline-stack-SendOptimalLineupTextsFunction-ZKYR04BXGHI6",
          "End": true
        }
      }
    }