stepFunctions/dfs-pipeline.json
{
  "StartAt": "Data Collection",
  "States": {
    "Data Collection": {
      "Type": "Parallel",
      "OutputPath": "$[0]",
      "Next": "Is NHL?",
      "Branches": [
        {
          "StartAt": "Fanduel Collector",
          "States": {
            "Fanduel Collector": {
              "Type": "Task",
              "ResultPath": "$.dataCollectionResult",
              "Resource": "REPLACE_ME_WITH_FANDUEL_LAMBDA_ARN",
              "End": true
            }
          }
        },
        {
          "StartAt": "Projections Collector",
          "States": {
            "Projections Collector": {
              "Type": "Task",
              "Resource": "REPLACE_ME_WITH_PROJECTIONS_LAMBDA_ARN",
              "End": true
            }
          }
        }
      ]
    },
    "Is NHL?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.sport",
          "StringEquals": "nhl",
          "Next": "Goalie Scraper"
        },
        {
          "Not": {
            "Variable": "$.sport",
            "StringEquals": "nhl"
          },
          "Next": "Data Merger"
        }
      ]
    },
    "Goalie Scraper": {
      "Type": "Task",
      "Resource": "REPLACE_ME_WITH_GOALIE_SCRAPER_LAMBDA_ARN",
      "ResultPath": "$.goalieData",
      "Next": "Data Merger"
    },
    "Data Merger": {
      "Type": "Task",
      "Resource": "REPLACE_ME_WITH_MERGE_DATA_LAMBDA_ARN",
      "ResultPath": "$.optimizerInput",
      "Next": "Lineup Optimizer"
    },
    "Lineup Optimizer": {
      "Type": "Task",
      "Resource": "REPLACE_ME_WITH_OPTIMAL_LINEUP_LAMBDA_ARN",
      "InputPath": "$.optimizerInput",
      "ResultPath": "$.optimizerResult",
      "Next": "Publish Optimal Lineup",
      "TimeoutSeconds": 899,
      "Catch": [
        {
          "ErrorEquals": [
            "States.Timeout"
          ],
          "ResultPath": "$.optimizerInput.previouslyTimedOut",
          "Next": "Lineup Optimizer"
        }
      ]
    },
    "Publish Optimal Lineup": {
      "Type": "Task",
      "Resource": "REPLACE_ME_WITH_PUBLISH_OPTIMAL_LINEUP_LAMBDA_ARN",
      "End": true
    }
  }
}